//About section
#img_abt {
  max-width: 180px;
}
#txt_abt {
  text-align: justify;
}

#social-abt {
  text-align: center;
  margin-top: 20px;
  .social-buttons {
    margin-bottom: 0;
    li {
      a {
        display: block;
        background-color: transparent;
        height: 40px;
        width: 40px;
        border: 1px solid @brand-primary;
        border-radius: 14px;
        font-size: 20px;
        line-height: 40px;
        color: @brand-primary;
        outline: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        &:hover,
        &:focus,
        &:active {
          background-color: @brand-primary;
          color: white;
        }
      }
    }
  }
}

//@Media queries

//Screen large
@media (min-width: @screen-lg-min) {
  #about {
    margin-top: 60px;
    #img-skill {
      margin-top: 5px;
      margin-left: 0;
    }

    #img_abt {
      width: 60%;
      height: 60%;
      margin-top: 8px;
      margin-left: 185px;

    }

    #txt_abt {
      margin-top: 30px;
      margin-left: 0;
      padding-right: 30px;
      padding-left: 0;
    }
  }

}

//Screen medium
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  #about {
    margin-top: 60px;
    #img-skill {
      margin-top: 5px;
      margin-left: 0;
    }

    #img_abt {
      width: 60%;
      height: 60%;
      margin-top: 8px;
      margin-left: 130px;

    }

    #txt_abt {
      margin-left: 0;
      padding-right: 30px;
      padding-left: 0;
    }
  }

}

//Screen small

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  #about {
    #img-skill {
      margin-top: 10px;
    }

    #img_abt {
      width: 30%;
      height: 30%;
      margin: 0;
    }
  }
}

//Screen xsmal
@media (max-width: @screen-xs-max) {

  #about {

    #img_abt {
      width: 50%;
      height: 40%;
      margin: 0 auto;
    }

    #txt_abt {
      text-align: justify;
    }


  }

}

