// Contact Section

#contfoot {
  margin: 0;
}


#contact {
  background-color: rgba(0, 0, 0, 0.6);



  .section-heading {
    color: white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 236px;
    }
  }
  .form-control:focus {
    border-color: @brand-primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: @placeholder-text;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-weight: 700;
    color: @placeholder-text;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    font-weight: 700;
    color: @placeholder-text;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: @placeholder-text;
  }
  .text-danger {
    color: @brand-danger;
  }
}

.btn-xl {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin: 20px;
}



// Footer

#footer {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;

  padding: 25px 0;
  text-align: center;
  span.copyright {
    line-height: 40px;
    text-transform: none;
  }
  ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    text-transform: none;
  }
}