// Contact Section

#contfoot {
  margin: 0;
  background: url('../img/parallax/contact.jpg') no-repeat center;
  .background-cover;
}

#contact {

  .section-heading {
    color: white;
  }

  .form-group {
    margin-bottom: 25px;

    input,
    textarea {
      padding: 20px;
    }

    input.form-control {
      height: auto;
    }

    textarea.form-control {
      height: 236px;
    }

  }

  .form-control:focus {
    border-color: @brand-primary;
    box-shadow: none;
  }

  ::-webkit-input-placeholder {
    font-weight: 700;
    color: @placeholder-text;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-weight: 700;
    color: @placeholder-text;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    font-weight: 700;
    color: @placeholder-text;
  }

  :-ms-input-placeholder {
    font-weight: 700;
    color: @placeholder-text;
  }

  .text-danger {
    color: @brand-danger;
  }

}

.btn-xl {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin: 20px;

  &:hover {
    background-color: @brand-primary;
    border: 1px solid @brand-primary;
    color: white;
  }

}

#social-cont {
  text-align: center;
  margin-top: 20px;

  .social-buttons {
    margin-bottom: 0;

    li {
      margin-top: 10px;
      a {
        display: block;
        background-color: transparent;
        height: 40px;
        width: 40px;
        border: 1px solid white;
        border-radius: 14px;
        font-size: 20px;
        line-height: 40px;
        color: white;
        outline: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
          background-color: @brand-primary;
          color: white;
          border: 1px solid @brand-primary;
        }

        &:focus,
        &:active {
          background-color: transparent;
          color: white;
          border: 1px solid white;
        }

      }

    }

  }

}


