//Global Components

body {
  font-family: 'Open Sans', serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

.heading-section {
  font-size: 40px;
  //margin-bottom: 50px;
  margin-top: 64px;

}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .heading-section {
    margin-bottom: 20px;
    margin-top: 80px;
  }

}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .heading-section {
    margin-bottom: 20px;
    margin-top: 80px;
    font-size: 40px;
  }

}

// Partners

aside.clients {
  img {
    margin: 50px auto;
  }
}