//Global Components
html {
  height: 100%;

}

body {
  font-family: 'Open Sans', serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  font-size: 14px;
  line-height: 1.75;

}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.heading-section {
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 64px;

}

section {
  margin: 60px 0;
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .heading-section {
    margin-bottom: 20px;
    margin-top: 80px;
  }

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .heading-section {
    margin-bottom: 20px;
    margin-top: 65px;
    font-size: 30px;
  }

}

@media (max-width: @screen-xs-max) {
  .heading-section {
    margin-bottom: 20px;
    margin-top: 80px;
    font-size: 30px;
  }

}

.parallax-overlay-fix {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  top: 0;
  left: 0;
}