// Header

#header {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 250px;
  padding-bottom: 110px;
  margin: 0;

  #header-txt {
    text-align: center;

    #header-canvas {
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding-left: 15px;
    }


    #header-subtitle {
      color: white;
      text-align: center;
      font-size: 20px;
      //margin-bottom: 35px;
    }

    .btn {
      margin-top: 30px;
      border-radius: 14px;
      border: 2px solid @brand-primary;
      background-color: transparent;
      padding: 2px 2px 8px 2px;

      .fa {
        width: 60px;
        padding-bottom: 2px;
        display: block;
        text-align: center;
        color: @brand-primary;
        font-size: large;
        line-height: 1px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }

      #header-dwn {
        position: relative;
        left: 50%;
        width: 60px;
        height: 60px;
        margin-left: -30px;
        border: none;

        a:hover {
          text-decoration: none;
        }
        a:focus {
          text-decoration: none;
        }
        a:active {
          text-decoration: none;
        }
      }
    }
  }
}

//@media queries

//Medium

@media (min-width: @screen-md-min) {

  #header {

    #header-canvas {
      padding-left: 20px;
    }
  }

  //Small
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

    #header {
      padding-top: 300px;
      padding-bottom: 200px;

      #header-txt {
        margin-top: 15px;

        #header-canvas {
          width: 100%;
          height: auto;
          margin: 0 auto;
          padding-left: 15px;
        }

        #header-subtitle {
          font-size: 15px;
        }
      }
    }
  }
}

//Xsmall
@media (max-width: @screen-xs-max) {

  #header {
    padding-top: 300px;
    padding-bottom: 200px;

    #header-txt {
      margin-top: 15px;

      #header-canvas {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-left: 15px;
      }

      #header-subtitle {
        font-size: 15px;
      }
    }
  }
}



