// Partners Section



#partners {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);

  .container {
    width: auto;

    .col {
      padding: 0;

      }

    .partners {
      img {
        margin: 20px auto;
      }






    }

  }



}